@import './_mixins.scss';
@import './_variables.scss';

@import '../containers/Nav/Nav.scss';
@import '../containers/App/App.scss';
@import '../containers/Login/Login.scss';
@import '../containers/UserProfile/UserProfile.scss';
@import '../containers/SearchBar/SearchBar.scss';
@import '../components/RideBlock/RideBlock.scss';
@import '../components/SearchButton/SearchButton.scss';
@import '../components/TrailDisplay/TrailDisplay.scss';
@import '../containers/RideForm/RideForm.scss';

*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  * {letter-spacing:1px;}

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Roboto Slab', serif;
    font-weight:500;
  }

  .ui.input {
    width:100%;
    margin-bottom:10px;
  }
}
