main {
  background-color:$dark-gray;
  display: flex;
  flex-flow:wrap;
  height:100vh;
  overflow:hidden;

  .dashboard {
    height:calc(100vh - 70px);
    width:100%;
    display:flex;
    flex-flow:wrap;

    .main-content {
      width:67%;
      height:100%;
      overflow:hidden;
      overflow-y:auto;
      z-index: 60;
    }
  }
}

main.app-bg-img-layer {
  width:100%;
  background-size:cover;
  background-position:33% 70px;
}
