.login-wrapper {
  height:calc(100vh - 90px);
  background-color:$dark-gray;
  width:33%;
  @include sideBarShadow;

  .tagline-block {
    padding:100px 50px 50px;
    max-width: 400px;
    width: 100%;
    p {
      color:$light-blue;
      span {
        color:$orange;
      }
    }
  }

  form {
    max-width: 400px;
    width: 100%;
    padding:50px;
    color:#fff;

    h1 {
      color:$orange;
      margin-bottom:20px;
    }

    .error-message {
      color:$error-red;
      margin-bottom:5px;
      display:block;
      letter-spacing:1px;
    }

    input {
      @include inputStyling();
      @include inputPlaceholder() {
        color: $off-white;
      }
      margin-bottom:10px;
    }


    button {
      @include buttonStyle;
    }
  }
}
