.ride-block {
  border:1px solid #000;
  background-color:$dark-gray;
  border-radius:4px;
  margin-bottom:20px;
  padding:10px 20px;
  position:relative;

  .date {
    position:absolute;
    top:10px;
    right:10px;
    font-size:.875rem;

  }

  h3 {
    color:$orange;
    display: flex;
    align-items: center;
    font-size:2rem;
    margin-bottom:20px;
  }
  h4 {
    @include headerStyle;
    font-size:1.4rem;
    margin: 0px 0px 10px;
  }
  p {
    color:$off-white;
    font-size:1rem;
    display: flex;
    align-items:center;
    margin-bottom:10px;
    letter-spacing: 1px;
    img {
      max-width:20px;
      margin-right:20px;
    }
    button {
      background-color:transparent;
      border:0;
      color:$off-white;
      text-decoration: underline;
      transition:all .3s;

      &:hover {
        opacity:.7;
        transition:all .3s;
        text-decoration: none;
        cursor:pointer;
      }
    }
  }
}
