header {
  width:100%;
  padding:10px 30px;
  display: flex;
  flex-flow:wrap;
  justify-content: space-between;
  align-items: center;
  background-color:$dark-blue;
  height:70px;
  z-index: 100;
  @include headerShadow;

  .logo-block {
    max-width:280px;
    display: flex;
    align-items: center;
    font-size:3rem;
    color:$orange;

    img {
      width:100%;
      margin-right:20px;
    }
  }

  nav {
    .login-button {
      @include buttonStyle;
      margin:0px;
    }
  }
}
